body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 0 20px;
  height: 60px;
  padding: 0 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 2px 5px rgba(55, 55, 55, 0.15);
}
.Header > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #0e43be;
    margin-bottom: 20px;
}
hr{
    width: 220px;
    border: none;
    margin-left: 0;
    margin-top: -10px;
    height: 2.5px;
    background-color: var(--hr-color);
}

.search {
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid #0e43be;
    background-color: var(--input-bg);
    width: 160px;
    height: 10px;
}
.search::placeholder{
  color: var(--placeholder);
}
.Header div button{
    border-radius: 5px;
    background-color: #0e43be;
    border: none;
    color: white;
    font-size: 13px;
    height: 30px;
    width: 30px;
}
    
.content {
    margin: 20px 30px;
}

.table-container {
    margin-top: 30px;
}
         
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: none;
}

table thead tr{
    background-color: var(--head-table);
}
table tbody tr:hover{
    background-color: var(--lines-hover);

}

/* form */

/* FORM CONTAINER */
#addRequestForm {
  width: 95%;
  background: var(--sections-bgrnd);
  padding: 25px 30px;
  border-radius: 12px;
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05); */
}

/* ROWS */
#addRequestForm > div {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

/* INPUTS */
#addRequestForm input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: 1.5px solid #dfe6f1;
  background-color: var(--input-bg);
  font-size: 14px;
  outline: none;
}

/* PLACEHOLDER */
#addRequestForm input::placeholder {
  color: #9aa7c1;
}

/* FOCUS */
#addRequestForm input:focus {
  border-color: #2f5bea;
  box-shadow: 0 0 0 2px rgba(47, 91, 234, 0.15);
}

/* BUTTON */
.add-btn {
  display: block;
  width: 30%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #2563EB;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* BUTTON HOVER */
.add-btn:hover {
  background: rgb(0, 40, 171);
}


 /* Messages  */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.warning-message {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}



/* required inputs */
.red{
    border-color: #ff0008;
}

.success{
    text-align: center;
    color: rgb(0, 181, 0);
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.danger{
    text-align: center;
    color: red;
    font-size: 17px;
    font-weight: bold;
}

/* iPad */
@media (max-width: 768px) {

  .Header h1 {
    font-size: 20px;
  }

  .Container {
    padding: 10px;
  }

  table th,
  table td {
    padding: 8px;
    font-size: 14px;
  }

  .add-btn {
    font-size: 15px;
  }
}

/* Phone */
@media (max-width: 500px) {
  /* Header */
  .Header {
    padding: 0 15px;
    gap: 15px;
  }
  .Header h1 {
    font-size: 16px;
  }
  .searchgroup input {
    width: 90px;
  }
  /* TABLE SCROLL */
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  table {
    min-width: 700px;
  }
  table th, table td {
    white-space: nowrap;
  }
  /* Scrollbar */
  .table-container::-webkit-scrollbar {
    height: 6px;
  }

  .table-container::-webkit-scrollbar-thumb {
    background: #0e43be;
    border-radius: 10px;
  }

  .table-container::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  .add-btn {
    width: 100%;
}
}

.withToggleBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_light button{
  border: none;
  background-color: #0d42ac;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
:root{
  --bg-color: white;
  --text-color : #000000;
  --header-color : #D9D9D9;
  --sections-bgrnd : #F9F9F9;
  --head-table : #f2f2f2;
  --input-bg : white;
  --placeholder : #4a4a4a;
  --lines-hover : #f8f8f8;
  --hr-color : #000000;
}
body.dark{
  --bg-color: rgb(0, 0, 0);
  --text-color : rgb(255, 255, 255);
  --header-color : #333333;
  --sections-bgrnd : #393939;
  --head-table : #393939;
  --input-bg : gray;
  --placeholder : white;
  --lines-hover : rgb(49, 49, 49);
  --hr-color : white
}